[project]
name = "mcp-server-prac"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastmcp>=2.13.2",
    "langchain>=1.1.2",
    "mcp>=1.23.1",
]
